In [47]:
import pandas as pd 
import matplotlib.pyplot as plt
import re
import pycountry
import openpyxl
import random
import scipy
import random

random.seed(42)

ocde = [
    'Australia',
    'Austria',
    'Belgium',
    'Canada',
    'Chile',
    'Colombia',
    'Costa Rica',
    'Czechia',
    'Denmark',
    'Estonia',
    'Finland',
    'France',
    'Germany',
    'Greece',
    'Hungary',
    'Iceland',
    'Ireland',
    'Israel',
    'Italy',
    'Japan',
    'South Korea',
    'Latvia',
    'Lithuania',
    'Luxembourg',
    'Mexico',
    'Netherlands',
    'New Zealand',
    'Norway',
    'Poland',
    'Portugal',
    'Slovakia',
    'Slovenia',
    'Spain',
    'Sweden',
    'Switzerland',
    'TÃ¼rkiye',
    'United Kingdom',
    'United States'
]

df = pd.read_csv('../../data/prokanon.combs4.csv')
df.loc[(df['mau'] <= 1000), 'mau'] = df['dau']
df['mau'] = df['mau'].apply(lambda x: x if x >= 83 else random.randint(1, 83))

df.sort_values(by='mau',inplace=True)


df['cumsum'] = df['mau'].cumsum()

suma = df['mau'].sum()

df['cdf'] = df['cumsum'] / suma

df['age'].value_counts().sort_index()

age
18    4600
19    4600
20    4600
21    4600
22    4600
23    4600
24    4600
25    4600
26    4600
27    4600
28    4600
29    4600
30    4600
31    4600
32    4600
33    4600
34    4600
35    4600
36    4600
37    4600
38    4600
39    4600
40    4600
41    4600
42    4600
43    4600
44    4600
45    4600
46    4600
47    4600
48    4600
49    4600
50    4600
51    4600
52    4600
53    4600
54    4600
55    4600
56    4600
57    4600
58    4600
59    4600
60    4600
61    4600
62    4600
63    4600
64    4600
Name: count, dtype: int64

In [48]:
len(df[df['mau'] == 83])

1332

In [49]:
len(df[df['mau'] == 0])/len(df)

0.0

In [50]:
df['mau'].value_counts().sort_index().iloc[0]*300/df['mau'].sum()

np.float64(0.00016668716066728216)

In [51]:
df_aux = df['mau'].value_counts().sort_index()[0:83]
df_aux = df_aux * df_aux.index
df_aux.sum()/df['mau'].sum()

np.float64(0.0019178790438633391)

In [52]:
df_aux

mau
1       1276
2       2560
3       3774
4       5176
5       5935
       ...
79    101436
80     96480
81    103923
82    106764
83    110556
Length: 83, dtype: int64

In [53]:
df['mau'].sum()

np.int64(2296517611)

In [54]:
df['dau'].value_counts().sort_index()

dau
0          105043
83              2
87              1
90              2
91              2
            ...
7093144         1
7180640         1
7407028         1
8671680         1
9281285         1
Name: count, Length: 23466, dtype: int64

In [55]:
df[df['mau'] <=1000]

,Unnamed: 0,age,country,gender,rel_status,mau,dau,percentage,cdf_true,cumsum,cdf
143281,48232,32,SE,2,12,1,0,4.153620e-07,0.059514,1,4.354419e-10
141200,75927,54,LA,1,10,1,0,4.153620e-07,0.058650,2,8.708838e-10
62114,129522,55,MS,1,12,1,0,4.153620e-07,0.025800,3,1.306326e-09
140408,75132,61,KW,2,12,1,0,4.153620e-07,0.058321,4,1.741768e-09
3604,111508,47,CR,1,13,1,0,4.153620e-07,0.001497,5,2.177210e-09
...,...,...,...,...,...,...,...,...,...,...,...
35492,100257,48,CL,2,10,999,999,4.153620e-07,0.014742,51651276,2.249113e-02
35481,100047,38,CL,1,10,999,999,4.153620e-07,0.014738,51652275,2.249156e-02
83608,26821,43,IS,1,3,999,999,4.153620e-07,0.034728,51653274,2.249200e-02
133718,76836,52,LB,2,1,999,999,4.153620e-07,0.055542,51654273,2.249243e-02
62025,129913,27,PR,2,4,999,999,4.153620e-07,0.025763,51655272,2.249287e-02

In [56]:
print(105043/len(df[df['mau'] <=1000]))

0.6457190980845361

In [57]:
print(105043/len(df))

0.48586031452358924

In [58]:

res_geq090 = df[df['cdf'] >= 0.1]

idx_min = (res_geq090['cdf'] - 0.1).abs().idxmin()

results_90 = res_geq090.loc[idx_min]



res_geq095 = df[df['cdf'] >= 0.05]

idx_min = (res_geq095['cdf'] - 0.05).abs().idxmin()

results_95 = res_geq095.loc[idx_min]



res_geq099 = df[df['cdf'] >= 0.01]

idx_min = (res_geq099['cdf'] - 0.01).abs().idxmin()

results_99 = res_geq099.loc[idx_min]

In [59]:
results_99

Unnamed: 0      177932
age                 31
country             GN
gender               2
rel_status          12
mau                989
dau                989
percentage         0.0
cdf_true      0.016035
cumsum        22965241
cdf               0.01
Name: 38605, dtype: object

In [60]:
results = pd.DataFrame(columns=['K^4_90', 'K^4_95', 'K^4_99', 'RK^4_90', 'RK^4_95', 'RK^4_99'])
results['K^4_90'] = results_90
results['K^4_95'] = results_95
results['K^4_99'] = results_99

In [61]:
results = results.T[['mau']].T.reset_index(drop = True)
results['RK^4_90'] = (results['K^4_90'] / suma) * 100
results['RK^4_95'] = (results['K^4_95'] / suma) * 100
results['RK^4_99'] = (results['K^4_99'] / suma) * 100

In [62]:
results

  K^4_90 K^4_95 K^4_99   RK^4_90   RK^4_95   RK^4_99
0  15700   5500    989  0.000684  0.000239  0.000043

In [63]:
results.to_parquet('../../data/analyzed/fb/FB_K^4_X_general.parquet')

In [64]:
countries_ocde_a2 = pd.DataFrame(pd.DataFrame(ocde,columns=['country'])['country'].apply(lambda x: pycountry.countries.lookup(x).alpha_2))

In [65]:
df_ocde = df[df['country'].isin(countries_ocde_a2['country'])].copy()
df_ocde.sort_values(by='mau',inplace=True)

df_ocde['cumsum'] = df_ocde['mau'].cumsum()

suma_ocde = df_ocde['mau'].sum()

df_ocde['cdf'] = df_ocde['cumsum'] / suma_ocde

In [66]:

res_geq090 = df_ocde[df_ocde['cdf'] >= 0.1]

idx_min = (res_geq090['cdf'] - 0.1).abs().idxmin()

results_90 = res_geq090.loc[idx_min]



res_geq095 = df_ocde[df_ocde['cdf'] >= 0.05]

idx_min = (res_geq095['cdf'] - 0.05).abs().idxmin()

results_95 = res_geq095.loc[idx_min]



res_geq099 = df_ocde[df_ocde['cdf'] >= 0.01]

idx_min = (res_geq099['cdf'] - 0.01).abs().idxmin()

results_99 = res_geq099.loc[idx_min]

results = pd.DataFrame(columns=['K^4_90', 'K^4_95', 'K^4_99', 'RK^4_90', 'RK^4_95', 'RK^4_99'])
results['K^4_90'] = results_90
results['K^4_95'] = results_95
results['K^4_99'] = results_99

results = results.T[['mau']].T.reset_index(drop = True)
results['RK^4_90'] = (results['K^4_90'] / suma_ocde) * 100
results['RK^4_95'] = (results['K^4_95'] / suma_ocde) * 100
results['RK^4_99'] = (results['K^4_99'] / suma_ocde) * 100

results.to_parquet('../../data/analyzed/fb/FB_K^4_X_general_ocde.parquet')
results

  K^4_90 K^4_95 K^4_99   RK^4_90   RK^4_95   RK^4_99
0  15400   7400    994  0.002358  0.001133  0.000152

In [67]:
df_ocde['mau'].sum()

np.int64(653208889)

In [68]:
df_ocde[df_ocde['mau']==0]['country']

Series([], Name: country, dtype: object)

In [69]:
len(ocde)

38