In [1]:
import pandas as pd 
import matplotlib.pyplot as plt
import re
import pycountry
import openpyxl
import random

random.seed(42)

ocde = [
    'Australia',
    'Austria',
    'Belgium',
    'Canada',
    'Chile',
    'Colombia',
    'Costa Rica',
    'Czechia',
    'Denmark',
    'Estonia',
    'Finland',
    'France',
    'Germany',
    'Greece',
    'Hungary',
    'Iceland',
    'Ireland',
    'Israel',
    'Italy',
    'Japan',
    'South Korea',
    'Latvia',
    'Lithuania',
    'Luxembourg',
    'Mexico',
    'Netherlands',
    'New Zealand',
    'Norway',
    'Poland',
    'Portugal',
    'Slovakia',
    'Slovenia',
    'Spain',
    'Sweden',
    'Switzerland',
    'TÃ¼rkiye',
    'United Kingdom',
    'United States'
]

df = pd.read_json('../../data/prokanon.mt_combs4_newrel.json')
df.loc[(df['mau'] == 1000), 'mau'] = df['dau']
df['mau'] = df['mau'].apply(lambda x: x if x >= 70 else random.randint(1, 70))
df.sort_values(by='mau',inplace=True)


df['cumsum'] = df['mau'].cumsum()

suma = df['mau'].sum()

df['cdf'] = df['cumsum'] / suma


res_geq090 = df[df['cdf'] >= 0.1]

idx_min = (res_geq090['cdf'] - 0.1).abs().idxmin()

results_90 = res_geq090.loc[idx_min]



res_geq095 = df[df['cdf'] >= 0.05]

idx_min = (res_geq095['cdf'] - 0.05).abs().idxmin()

results_95 = res_geq095.loc[idx_min]



res_geq099 = df[df['cdf'] >= 0.01]

idx_min = (res_geq099['cdf'] - 0.01).abs().idxmin()

results_99 = res_geq099.loc[idx_min]

results_99
results = pd.DataFrame(columns=['K^4_90', 'K^4_95', 'K^4_99', 'RK^4_90', 'RK^4_95', 'RK^4_99'])
results['K^4_90'] = results_90
results['K^4_95'] = results_95
results['K^4_99'] = results_99

results = results.T[['mau']].T.reset_index(drop = True)
results['RK^4_90'] = results['K^4_90'] / suma
results['RK^4_95'] = results['K^4_95'] / suma
results['RK^4_99'] = results['K^4_99'] / suma

results.to_parquet('../../data/analyzed/fb/FB_newrel_K^4_X_general.parquet')
results

  K^4_90 K^4_95 K^4_99   RK^4_90   RK^4_95 RK^4_99
0  21000   9300    998  0.000009  0.000004     0.0

In [2]:
suma/1000000000

np.float64(2.357607411)

In [3]:
df['mau'].value_counts().sort_index()

mau
1           458
2           461
3           456
4           461
5           419
           ...
11100000      1
11300000      2
11900000      1
12700000      1
13900000      1
Name: count, Length: 3783, dtype: int64

In [4]:
countries_ocde_a2 = pd.DataFrame(pd.DataFrame(ocde,columns=['country'])['country'].apply(lambda x: pycountry.countries.lookup(x).alpha_2))
df_ocde = df[df['country'].isin(countries_ocde_a2['country'])].copy()
df_ocde.sort_values(by='mau',inplace=True)

df_ocde['cumsum'] = df_ocde['mau'].cumsum()

suma = df_ocde['mau'].sum()

df_ocde['cdf'] = df_ocde['cumsum'] / suma

res_geq090 = df_ocde[df_ocde['cdf'] >= 0.1]

idx_min = (res_geq090['cdf'] - 0.1).abs().idxmin()

results_90 = res_geq090.loc[idx_min]



res_geq095 = df_ocde[df_ocde['cdf'] >= 0.05]

idx_min = (res_geq095['cdf'] - 0.05).abs().idxmin()

results_95 = res_geq095.loc[idx_min]



res_geq099 = df_ocde[df_ocde['cdf'] >= 0.01]

idx_min = (res_geq099['cdf'] - 0.01).abs().idxmin()

results_99 = res_geq099.loc[idx_min]

results = pd.DataFrame(columns=['K^4_90', 'K^4_95', 'K^4_99', 'RK^4_90', 'RK^4_95', 'RK^4_99'])
results['K^4_90'] = results_90
results['K^4_95'] = results_95
results['K^4_99'] = results_99

results = results.T[['mau']].T.reset_index(drop = True)
results['RK^4_90'] = results['K^4_90'] / suma
results['RK^4_95'] = results['K^4_95'] / suma
results['RK^4_99'] = results['K^4_99'] / suma

results.to_parquet('../../data/analyzed/fb/FB_newrel_K^4_X_general_ocde.parquet')
results

  K^4_90 K^4_95 K^4_99  RK^4_90   RK^4_95   RK^4_99
0  19200  10500   2600  0.00003  0.000016  0.000004