In [1]:
import pandas as pd 
import matplotlib.pyplot as plt
import pycountry

In [2]:
pd.options.display.float_format = '{:.6f}'.format  
pd.options.display.precision = 6  


def custom_format(x):
    if isinstance(x, (int, float)) and x > 1_000_000:
        return f"{x / 1_000_000:.2f}M"  
    return f"{x:.4f}" if isinstance(x, float) else str(x)

In [3]:
fb = pd.read_parquet('../data/analyzed/fb/FB_K^4_X_general.parquet')
ld = pd.read_parquet('../data/analyzed/ld/LD_K^4_X_general.parquet')
tw = pd.read_parquet('../data/analyzed/tw/TW_K^4_X_general.parquet')

In [4]:
fb = fb.reset_index(drop=True)
ld = ld.reset_index(drop=True)
tw = tw.reset_index(drop=True)

In [5]:
platforms_merged = pd.concat([fb, ld, tw], axis=0,ignore_index=True)
platforms_merged['platform'] = ['Meta','LinkedIn','Twitter']

platforms_merged.rename(columns = {'K^4_90': r'$K^4_{90}$', 'K^4_95': r'$K^4_{95}$', 'K^4_99': r'$K^4_{99}$', 
                                   'RK^4_90': r'$RK^4_{90}$', 'RK^4_95': r'$RK^4_{95}$', 'RK^4_99': r'$RK^4_{99}$', 
                                    }, inplace=True)

In [6]:
platforms_merged = platforms_merged[['platform',r'$K^4_{90}$', r'$K^4_{95}$', r'$K^4_{99}$',r'$RK^4_{90}$', r'$RK^4_{95}$', r'$RK^4_{99}$']]

platforms_merged

,platform,$K^4_{90}$,$K^4_{95}$,$K^4_{99}$,$RK^4_{90}$,$RK^4_{95}$,$RK^4_{99}$
0,Meta,15700,5500,989,0.000684,0.000239,0.000043
1,LinkedIn,38000,15000,2100,0.008009,0.003161,0.000443
2,Twitter,182195,74041,11722,0.029900,0.012151,0.001924

In [7]:
latex_table=platforms_merged.to_latex(index=False,float_format="%.2e",escape=False)
print(latex_table)

\begin{tabular}{lrrrrrr}
\toprule
platform & $K^4_{90}$ & $K^4_{95}$ & $K^4_{99}$ & $RK^4_{90}$ & $RK^4_{95}$ & $RK^4_{99}$ \\
\midrule
Meta & 15700 & 5500 & 989 & 6.84e-04 & 2.39e-04 & 4.31e-05 \\
LinkedIn & 38000 & 15000 & 2100 & 8.01e-03 & 3.16e-03 & 4.43e-04 \\
Twitter & 182195 & 74041 & 11722 & 2.99e-02 & 1.22e-02 & 1.92e-03 \\
\bottomrule
\end{tabular}

In [9]:
fb = pd.read_parquet('../data/analyzed/fb/FB_K^4_X_general_ocde.parquet')
ld = pd.read_parquet('../data/analyzed/ld/LD_K^4_X_general_ocde.parquet')
tw = pd.read_parquet('../data/analyzed/tw/TW_K^4_X_general_ocde.parquet')

fb = fb.reset_index(drop=True)
ld = ld.reset_index(drop=True)
tw = tw.reset_index(drop=True)

platforms_merged = pd.concat([fb, ld, tw], axis=0,ignore_index=True)
platforms_merged['platform'] = ['fb','ld','tw']

platforms_merged.rename(columns = {'K^4_90': r'$K^4_{90}$', 'K^4_95': r'$K^4_{95}$', 'K^4_99': r'$K^4_{99}$', 
                                   'RK^4_90': r'$RK^4_{90}$', 'RK^4_95': r'$RK^4_{95}$', 'RK^4_99': r'$RK^4_{99}$', 
                                    }, inplace=True)

platforms_merged = platforms_merged[['platform',r'$K^4_{90}$', r'$K^4_{95}$', r'$K^4_{99}$',r'$RK^4_{90}$', r'$RK^4_{95}$', r'$RK^4_{99}$']]

platforms_merged

,platform,$K^4_{90}$,$K^4_{95}$,$K^4_{99}$,$RK^4_{90}$,$RK^4_{95}$,$RK^4_{99}$
0,fb,15400,7400,994,0.002358,0.001133,0.000152
1,ld,72000,31000,7000,0.024538,0.010565,0.002386
2,tw,182195,74041,11722,0.048392,0.019666,0.003113