In [1]:
import pandas as pd 
import matplotlib.pyplot as plt
import re
import pycountry
import openpyxl

In [2]:
mt = pd.read_parquet('../data/analyzed/fb/FB_K^4_X_general.parquet')
mt_nr = pd.read_parquet('../data/analyzed/fb/FB_newrel_K^4_X_general.parquet')
mt_nr_na = pd.read_parquet('../data/analyzed/fb/FB_newrel_newage_K^4_X_general.parquet')

In [3]:
mt = mt.reset_index(drop=True)
mt_nr = mt_nr.reset_index(drop=True)
mt_nr_na = mt_nr_na.reset_index(drop=True)

In [4]:
mt_nr_na

   K^4_90  K^4_95  K^4_99  RK^4_90  RK^4_95   RK^4_99
0  256500  117900   22000  0.00011  0.00005  0.000009

In [5]:
platforms_merged = pd.concat([mt, mt_nr, mt_nr_na], axis=0,ignore_index=True)
platforms_merged['Meta'] = ['Base','New R.S.','Plus A.R.']

platforms_merged.rename(columns = {'K^4_90': r'$K^4_{90}$', 'K^4_95': r'$K^4_{95}$', 'K^4_99': r'$K^4_{99}$', 
                                   'RK^4_90': r'$RK^4_{90}$', 'RK^4_95': r'$RK^4_{95}$', 'RK^4_99': r'$RK^4_{99}$', 
                                    }, inplace=True)

platforms_merged = platforms_merged[['Meta',r'$K^4_{90}$', r'$K^4_{95}$', r'$K^4_{99}$',r'$RK^4_{90}$', r'$RK^4_{95}$', r'$RK^4_{99}$']]
platforms_merged

,Meta,$K^4_{90}$,$K^4_{95}$,$K^4_{99}$,$RK^4_{90}$,$RK^4_{95}$,$RK^4_{99}$
0,Base,15700,5500,989,0.000684,0.000239,4.306520e-05
1,New R.S.,21000,9300,998,0.000009,0.000004,4.233105e-07
2,Plus A.R.,256500,117900,22000,0.000110,0.000050,9.416071e-06

In [6]:
latex_table=platforms_merged.to_latex(index=False,float_format="%.1e",escape=False)
print(latex_table)

\begin{tabular}{lrrrrrr}
\toprule
Meta & $K^4_{90}$ & $K^4_{95}$ & $K^4_{99}$ & $RK^4_{90}$ & $RK^4_{95}$ & $RK^4_{99}$ \\
\midrule
Base & 15700 & 5500 & 989 & 6.8e-04 & 2.4e-04 & 4.3e-05 \\
New R.S. & 21000 & 9300 & 998 & 8.9e-06 & 3.9e-06 & 4.2e-07 \\
Plus A.R. & 256500 & 117900 & 22000 & 1.1e-04 & 5.0e-05 & 9.4e-06 \\
\bottomrule
\end{tabular}

In [7]:
mt = pd.read_parquet('../data/analyzed/fb/FB_K^4_X_general_ocde.parquet')
mt_nr = pd.read_parquet('../data/analyzed/fb/FB_newrel_K^4_X_general_ocde.parquet')
mt_nr_na = pd.read_parquet('../data/analyzed/fb/FB_newrel_newage_K^4_X_general_ocde.parquet')

mt = mt.reset_index(drop=True)
mt_nr = mt_nr.reset_index(drop=True)
mt_nr_na = mt_nr_na.reset_index(drop=True)

platforms_merged = pd.concat([mt, mt_nr, mt_nr_na], axis=0,ignore_index=True)
platforms_merged['Meta'] = ['Base','New R.S.','Plus A.R.']

platforms_merged.rename(columns = {'K^4_90': r'$K^4_{90}$', 'K^4_95': r'$K^4_{95}$', 'K^4_99': r'$K^4_{99}$', 
                                   'RK^4_90': r'$RK^4_{90}$', 'RK^4_95': r'$RK^4_{95}$', 'RK^4_99': r'$RK^4_{99}$', 
                                    }, inplace=True)


platforms_merged = platforms_merged[['Meta',r'$K^4_{90}$', r'$K^4_{95}$', r'$K^4_{99}$',r'$RK^4_{90}$', r'$RK^4_{95}$', r'$RK^4_{99}$']]

platforms_merged

,Meta,$K^4_{90}$,$K^4_{95}$,$K^4_{99}$,$RK^4_{90}$,$RK^4_{95}$,$RK^4_{99}$
0,Base,15400,7400,994,0.002358,0.001133,0.000152
1,New R.S.,19200,10500,2600,0.000030,0.000016,0.000004
2,Plus A.R.,238300,124800,36800,0.000370,0.000194,0.000057